.container {
	margin: 0;
	width: 100%;
}

.title {
	margin: 0 0 12px;
	font-size: 40px;
	font-style: normal;
	font-weight: bold;
	line-height: 1.15;
	text-align: left;
	color: var(--main-black-color);
}

.subtitle {
	margin: 0 0 20px;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	line-height: 1.15;
	text-align: left;
	color: var(--main-black-color);
}

