.container {
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex-grow: 1;
}

.buttons {
	margin: 0;
	display: flex;
	align-items: center;
	gap: 12px;
}

.table {
	margin: 12px 0 0 0;
	padding: 24px 32px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background: var(--background-color);
	border-radius: var(--border-radius);
	&__list {
		margin: 12px 0 0 0;
		padding: 0 8px 0 0;
		width: 100%;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		gap: 12px;
		overflow-y: scroll;
	}
}

.row {
	margin: 0;
	width: 100%;
	display: flex;
	align-items: stretch;
	gap: 12px;
	&_type_header {
		width: calc(100% - 12px);
		margin: 0 12px 0 0;
	}
}

.column {
	margin: 0;
	width: auto;
	display: flex;
	flex-direction: column;
	gap: 12px;
	&_width_full {
		width: 100%;
	}
}

.semesters {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
	display: flex;
	align-items: center;
	gap: 12px;
	flex-grow: 1;
	align-items: stretch;
}

.semester {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.count {
	margin: 0;
	padding: 4px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 76px;
	min-height: 54px;
	flex-grow: 1;
	background-color: var(--main-white-color);
	border-radius: 8px;
	transition: all .3s ease-in-out;
	&_type_active {
		background-color: var(--main-blue-color);
	}
	&_type_small {
		min-height: 24px;
	}
	&:hover {
		cursor: pointer;
		opacity: .7;
	}
	&__hours {
		margin: 0;
		width: 100%;
		font-style: normal;
		font-size: 16px;
		font-weight: 300;
		line-height: 1.15;
		color: var(--main-white-color);
		text-align: center;
		&_font_small {
			font-size: 12px;
		}
	}
	&__form {
		margin: 4px 0 0 0;
		width: 100%;
		font-style: normal;
		font-size: 12px;
		font-weight: 300;
		line-height: 1.15;
		color: var(--main-white-color);
		text-align: center;
	}
}

.card {
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	width: 100%;
	background-color: var(--main-white-color);
	border-radius: var(--border-radius);
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.discipline {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	align-items: center;
	flex-grow: 1;
	align-items: stretch;
	&__status {
		margin: 0;
		padding: 0;
		width: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
		box-sizing: border-box;
		border-top-left-radius: var(--border-radius);
		border-bottom-left-radius: var(--border-radius);
		font-style: normal;
		font-size: 14px;
		font-weight: 700;
		line-height: 1;
		color: var(--main-white-color);
		&_type_opd {
			background-color: var(--main-blue-light-color);
		}
		&_type_pd {
			background-color: var(--main-blue-dark-color);
		}
	}
	&__main {
		margin: 0;
		padding: 8px;
		box-sizing: border-box;
		width: 100%;
		display: flex;
		align-items: center;
		border-top-right-radius: var(--border-radius);
		border-bottom-right-radius: var(--border-radius);
		background-color: var(--main-white-color);
	}
	&__name {
		margin: 0;
		font-style: normal;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.15;
		color: var(--main-black-color);
	}
}

.total {
	margin: 0;
	width: 100%;
  font-style: normal;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.15;
	color: var(--main-black-color);
	text-align: center;
	&__count {
		margin: 4px 0 0 0;
		width: 100%;
		font-style: normal;
		font-size: 12px;
		font-weight: 500;
		line-height: 1.15;
		color: var(--main-black-color);
		text-align: center;
		&_color_red {
			color: var(--accent-red-color);
		}
		&_color_green {
			color: var(--accent-green-color);
		}
		&_color_grey {
			color: var(--main-grey-color);
		}
	}
}

.text {
	margin: 0;
	width: 100%;
  font-style: normal;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.15;
	color: var(--main-black-color);
	text-align: left;
	&_fs_large {
		font-size: 24px;
		font-weight: 700;
	}
	&_fs_medium {
		font-size: 18px;
		font-weight: 500;
	}
	&_fs_small {
		font-size: 12px;
		font-weight: 500;
	}
	&_align_center {
		text-align: center;
	}
}
