.input {
  margin: 0px;
  width: 100%;
  padding: 9px 16px 9px 16px;
	box-sizing: border-box;
  border: 2px solid var(--main-grey-color);
  border-radius: var(--border-radius);
  background: var(--background-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-black-color);
	outline: none;
  transition: all .3s ease-in-out;
	&:hover {
		border: 2px solid var(--accent-grey-color);
	}
	&:active {
		border: 2px solid var(--accent-blue-color);
	}
	&:focus {
		border: 2px solid var(--accent-blue-color);
	}
	&::placeholder {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
		color: var(--accent-grey-color);
	}
}
