@import url('./vendor/normalize.css');
@import url('./shared/fonts/fonts.css');

:root {
	--background-color: #f1f3f5;
	--main-white-color: #ffffff;
	--main-black-color: #292D32;
	--main-blue-color: #4D61C7;
	--main-blue-light-color: #5F77F0;
	--main-blue-dark-color: #3A4B9E;
	--main-grey-color: #797E8B;
	--main-grey-light-color: #B5B7C0;
	--main-grey-dark-color: #585D69;
	--accent-blue-color: #4C87FF;
	--accent-green-color: #3AD57B;
	--accent-red-color: #FF5151;
	--accent-blue-light-color: #D5E1FF;
	--accent-green-light-color: #DAF5DF;
	--accent-red-light-color: #FFD7D6;
	--slider-color: #d9d9d9;
	--inactive-color: #F6F6F7;
	--border-radius: 16px;
	color: var(--main-black-color);
	font-weight: normal;
	font-size: 16px;
	font-family: 'Roboto', 'Avenir', 'Helvetica', 'Arial', sans-serif;
	font-style: normal;
	line-height: 1.5;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-size-adjust: 100%;
	background-color: var(--background-color);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border-radius: var(--border-radius);
  background: var(--slider-color);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background: var(--main-grey-light-color);
}
